*.out
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Deliverables
*.zip
.vscode/*
# Files of Mac and Dropbox
.DS_Store
# Presentations
Diapo/*
2D scenes/*
Update_ignore.sh
Taller 1/Solutions/*
Tutorials_OpenGL/*
Drawing\ Lines/*
*/build/*
*/Solutions/*
3DScenes/*

Iluminacion/*
Parametrics/*
robotic_arm*/*
taller6*/*
Test*/*
Rep_No_paramaetricas/*
Ogre/*
Hanoi_Tower/*
VTK_learning/*